.embedly-wrap {
  width:80%;
  margin:0 auto;
  position:relative;
  padding:20px;
}
.embedly-ui {
  background:#fff;
}
/* Overrides color of checkmarks in checkboxes*/
input[type="checkbox"]:checked:before {
  color: #36495e;
}
.embedly-ui a {
  text-decoration:none;
  color:#36495e;
}
.embedly-analytics {
  text-align: center;
  vertical-align: middle;
}
.embedly-ui-header-outer-wrapper {
  /*height:101px;*/
  /*border-bottom:1px solid #fff;*/
/*  border-top-left-radius:10px;
  border-top-right-radius:10px;*/
}
.embedly-ui-header-wrapper {
  height:99px;
  text-align: center;
  vertical-align: middle;
  /*border-top-left-radius:10px;
  border-top-right-radius:10px;*/
}
.embedly-ui-header {
  /*height:96px;*/
  /*border:1px solid #fff;*/
  /*background-color: 008ac4;*/
/* border-top-left-radius:10px;
  border-top-right-radius:10px;*/
  position:relative;
  width: 100%;
}
.embedly-ui-logo {
  background:url('../img/wordpressicon-93x88.png') no-repeat 0 0;
  display:block;
  height:88px;
  width:93px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  margin-left: auto;
  margin-right: auto;

}
.embedly-ui-key-wrap {
  margin:30px;
  background:#fff;
  padding:1px;
}
.embedly-ui-key-wrap p {
  font-size:12px;
  color:#747474;
  font-family:'Cabin', sans-serif;
  margin:5px 0 0;
  text-shadow:0 1px 0 #fff;
}
.embedly-ui-key-form {
  background:#fff;
  /*border:1px solid #fff;*/
  border-radius:0px;
  padding:14px;
}
.embedly-footer {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  float:bottom;
  color: #A6A8AB;
}
.embedly-footer .dashicons:before {
  color: #A6A8AB;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}


.embedly-api-key-input {
  width:65%;
  text-align: center;
}


/*styles for advanced dropdown*/
.advanced-body {
  display: none;
  padding: 5px;
}
.advanced-selections {
  float: left;
  width: 25%;
}
.advanced-wrapper .advanced-body li {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-preview-container {
  width: 70%;
  float: right;
  vertical-align: middle;
}
/* end styles for advanced dropdown menu*/

/* styles for tutorial dropdown */
.tutorial-body {
  display: none;
  padding: 5px;
}
.tutorial-wrapper {
  clear: both;
}

.embedly-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: museo-sans-fontspring,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.50rem 1.5rem;
  background-color: #36495e;
  border-color: #1eb0d7;
  color: #FFF;
  transition: background-color 300ms ease-out;
}
.embedly-button:hover {
  background-color:#556d82;
}
#wpwrap {
  background-color: #FFF;
}
/* Background color along admin panel right side*/
#wpcontent {
  background-color: #FFF;
}
/* Background color for rest of setting page*/
#wpbody-content {
  background-color:#FFF;
}
.embedly-di .dashicons {
    margin:0px;
    padding:3px;
    vertical-align:middle;
    color:#000000;
}
.embedly-di .dashicons:before {
    -webkit-font-smoothing: antialiased;
    font:400 20px/1 dashicons;
    color: #36495e;
}
.embedly-di .dashicons:hover:before {
  color: #4CC6E6;
}
.embedly-di .dashicons.di-center {
    margin:0;
}
.embedly-di .dashicons.di-center:before {
    content:"\f134";
}
.embedly-di .dashicons.di-none:before {
    content:"\f138";
}
/* reverses divicon-align-none to appear as a right align*/
.embedly-di .dashicons.di-reverse {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

ul.align-select {
  list-style-type: none;
  margin: 2000;
  padding: 0;
}
ul.align-select li {
  display: inline;
}
/* Hilights selected align icon */
span.selected-align-select {
  outline-width: 1px;
  outline-style: solid;
  outline-color: #36495e;
}
span.selected-align-select:hover {
  outline-color: #4CC6E6; /* outline color */
}

/* BEGIN STYLES FOR NEW USER MODAL */
.embedly-new-user-modal {
  text-align: center;
  vertical-align: middle;
}

.dashicons-twitter:before {
  color: #55acee;
}

/* END STYLES FOR NEW USER MODAL */
div.embedly-updated, div.embedly-error
{
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin: 5px 0 15px;
  padding: 0 0.6em;
}
div.embedly-error
{
  background-color: #ffebe8;
  border-color: #cc0000;
}
div.embedly-updated
{
  background: rgba(0, 193, 73, 0.3);
  border-color: #00933B;
}
div.embedly-updated p
{
  color: #666;
  margin: 0.5em 0;
  padding: 2px;
}
div.embedly-error p
{
  color: #dd0000;
  margin: 0.5em 0;
  padding: 2px;
}
.embedly-message
{
  line-height: 18px;
  margin: 30px !important;
}
.embedly-ajax-message
{
  display: none;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* TESTING FORM STATES */
.embedly-key-body {
  text-align: center;
  vertical-align: middle;
}
.embedly-api-key-input-container {
  position: relative;
  width: 500px;
  margin: 0 auto;
  font-family:monospace;
}
.embedly-api-key-input-wrapper h1 {
  font-size: 8px;
  margin: 0px;
}
.embedly-api-key-input-wrapper .valid-outer-text {
  color: #4BBA80;
}
.embedly-api-key-input-wrapper .invalid-outer-text {
  color: #E44E46;
}

.embedly-max-width input[type="text"], textarea {
  width: 40px;
  height: 30px;
  border: 1px solid #36495E;
}

.embedly-api-key-input-container input[type="text"], textarea {
  width: 100%;
  height: 30px;
  border: 1px solid #36495E;
}
.key-icon {
  visibility: visible;
  position: absolute;
  right: 7px;
  bottom: 15%;
}
.key-icon:before {
  border: 1px solid #ccc; /* circle border width */
  border-radius: 50%; /* circle */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
  color: #fff; /* dashicon color */
  display: block
  -webkit-font-smoothing: antialiased;
  bottom: 15%; /* how to css? */
}
.locked-key-icon:before {
  color: #A6A8AB;
  content: '\f160';
  border: 0px;
}
.unlocked-key-icon:before {
  color: #A6A8AB;
  content: "\f528";
  border: 0px;
  bottom: 0%;
}
.valid-key-icon:before {
  background-color: #4BBA80;
  content: "\f147";
}
.invalid-key-icon:before {
  content: "\f158";
  background-color: #E44E46;
}
.embedly-default-card-settings {
  width: 50%;
}
.embedly-default-card-settings ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}
.embedly_key_input_test {
  border: 1px solid;
  border-radius: 0;
}
.invalid_key input[type="text"], textarea {
  border-color: #E44E46;
  background-color: #F7DFDF;
  color: #36495E;
}
.valid_key input[type="text"], textarea {
  border-color: #4BBA80;
  background-color: #E5F2ED;
  color: #36495E;
}
.locked_key input[type="text"], textarea {
  color: #A6A8AB;
  border-color: #A6A8AB;
  background-color: #F1F1F2;
}
.unlocked_key input[type="text"], textarea {
  border-color: #A6A8AB;
  background-color: #fff;
}


/* integrating sean's things */
#embedly-which {
  display: none;
}
#embedly-which a {
  text-decoration: none;
  display: block;
  margin: 10px 20px;
  color: #4CC6E6;
  text-decoration: underline;
}


