.embedly-wrap {
  width:60%;
  margin:0 auto;
  position:relative;
  padding:20px;
}
.embedly-ui {
  background:#f0f0f0;
  border-radius:10px;
  border:1px solid #d7d7d7;
  -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.2);
  -ms-box-shadow:inset 0 0 2px rgba(0,0,0,0.2);
  box-shadow:inset 0 0 2px rgba(0,0,0,0.2);
}
.embedly-ui .section-label {
  font-family: 'Cabin', sans-serif;
  color:#7b7b7b;
  font-size:18px;
  font-weight:normal;
  text-shadow:0 1px 0 #fff;
  margin:0 0 14px;
  width:78%;
  float:left;
}
.embedly-ui a {
  text-decoration:none;
  color:#008ac4;
  font-size:11px;
  font-family:'Cabin', sans-serif;
}
.embedly-ui-header-outer-wrapper {
  height:101px;
  /*background:#d7d7d7;*/
  border-bottom:1px solid #fff;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.embedly-ui-header-wrapper {
  height:99px;
  /*background:#858585;*/
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.embedly-ui-header {
  height:96px;
  border:1px solid #fff;
  /*background:url('../img/header-bg.png') repeat-x 0 0;*/
  background-color: 008ac4;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  position:relative;
}
.embedly-ui-logo {
  text-indent:-999999em;
  width:200px;
  height:70px;
  background:url('../img/logo-large.png') no-repeat 0 0;
  position:absolute;
  top:50%;
  left:20px;
  margin-top:-28px;
}
.embedly-ui-key-wrap {
  margin:30px;
  background:#d7d7d7;
  padding:1px;
  border-radius:5px;
  -webkit-box-shadow:0 1px 0 #d7d7d7;
  -moz-box-shadow:0 1px 0 #d7d7d7;
  -ms-box-shadow:0 1px 0 #d7d7d7;
  box-shadow:0 1px 0 #d7d7d7;
}
.embedly-ui-key-wrap p {
  font-size:12px;
  color:#747474;
  font-family:'Cabin', sans-serif;
  margin:5px 0 0;
  text-shadow:0 1px 0 #fff;
}
.embedly-ui-key-form {
  background:#f5f5f5;
  border:1px solid #fff;
  border-radius:5px;
  padding:14px;
}
.embedly-input-wrapper {
  position:relative;
}
.embedly-lock-control {
  position:absolute;
  top:23px;
  right:15.6%;
  display:block;
  height:19px;
  width:15px;
  background:url('../img/lock.png') no-repeat 0 0;
  text-indent:-9999em;
}
.embedly-unlocked {
  background-position:0 0;
}
.embedly-locked {
  background-position: 0 -19px;
}
.embedly-ui-key-form input.embedly_key_input {
  width:85%;
  background:#fcfcfc;
  height:32px;
  border:1px solid #cfcfcf;
  -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 0 1px rgba(0,0,0,0.2);
  -ms-box-shadow:inset 0 0 1px rgba(0,0,0,0.2);
  box-shadow:inset 0 0 1px rgba(0,0,0,0.2);
  margin:0;
  padding:2px 5px;
  color:#7b7b7b;
  font-family:monospace;
  font-size:14px;
}
.embedly-ui-key-form input.embedly_key_input.invalid {
  background: rgba(255,0,0,0.1);
  border-color:rgba(255,0,0,0.4);
  color:rgba(255,0,0,0.6);
  -webkit-box-shadow:inset 0 0 4px rgba(255,0,0,0.4);
  -moz-box-shadow:inset 0 0 4px rgba(255,0,0,0.4);
  -ms-box-shadow:inset 0 0 4px rgba(255,0,0,0.4);
  box-shadow:inset 0 0 4px rgba(255,0,0,0.4);
}
.embedly-ui-key-form input.embedly_key_input.embedly-locked-input {
  background:#eee;
  color:#bbb;
}
.embedly-ui-providers {
  padding-left: 30px;
  padding-bottom: 10px;
  /*padding: 7px;*/
}
input.embedly_top_submit {
  height:30px;
  background:url('../img/btn-submit-bg.png') repeat-x 0 0;
  border-radius:20px;
  border:1px solid #1b4985;
  color:#fff;
  text-shadow:0 -1px 0 #086d97;
  padding:0 20px;
  line-height:32px;
  box-shadow:inset -1px 1px 0 rgba(255,255,255,0.3), inset 1px -1px 0 rgba(255,255,255,0.3);
  margin-left:14px;
}
.pixel-popper {
  clear:both;
  height:0px;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #fff;
  color:#d8d8d8;
  margin:0 1px;
}
.embedly-ui-service-sorter-wrapper {
  padding:30px 30px 60px;
}
.embedly-ui-quicksand-wrapper {
  padding:1px;
  background:#d0d0d0;
  border-radius:4px;
  -webkit-box-shadow:0 1px 0 #d0d0d0;
  -moz-box-shadow:0 1px 0 #d0d0d0;
  -ms-box-shadow:0 1px 0 #d0d0d0;
  box-shadow:0 1px 0 #d0d0d0;
  overflow:hidden;
  margin:0 0 0.5% 0;
}
.quicksand-left-wrapper {
  float:left;
}
.quicksand-right-wrapper {
  float:right;
}
.embedly-ui-quicksand {
  height:33px;
  padding:0 10px;
  background:url('../img/quicksand-wrap-bg.png') repeat-x 0 0;
  border:1px solid #fff;
  border-radius:4px;
  float:left;
}
.embedly-ui-quicksand p {
  font-family:'Cabin', sans-serif;
  font-size:12px;
  color:#5c5c5c;
  text-shadow:0 1px 0 #fff;
  font-weight:600;
  margin:0 20px 0 10px;
  float:left;
  line-height:33px;
}
.embedly-ui-quicksand ul {
  height:21px;
  border:1px solid #c0c0c0;
  border-radius:3px;
  background:url('../img/quicksand-menu-wrap.png') repeat-x 0 0;
  -webkit-box-shadow:0 0 1px #fff, inset 0 0 1px rgba(0,0,0,0.1);
  -moz-box-shadow:0 0 1px #fff, inset 0 0 1px rgba(0,0,0,0.1);
  -ms-box-shadow:0 0 1px #fff, inset 0 0 1px rgba(0,0,0,0.1);
  box-shadow:0 0 1px #fff, inset 0 0 1px rgba(0,0,0,0.1);
  margin:5px 10px 5px 0;
  float:left;
}
.embedly-ui-quicksand ul li {
  float:left;
  margin:0;
}
.embedly-ui-quicksand ul li a {
  display:block;
  height:21px;
  font-family:'Cabin', sans-serif;
  color:#888;
  line-height:21px;
  text-shadow:0 1px 0 #fff;
  padding:0 12px;
  border-right:1px solid #c0c0c0;
  border-left:1px solid #fff;
}
.embedly-ui-quicksand ul li:first-child a {
  border-left:0 none;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.embedly-ui-quicksand ul li:last-child a {
  border-right:0 none;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
.embedly-ui-quicksand ul li a.active {
  background:url('../img/quicksand-menu-hover.png') repeat-x 0 0;
  color:#71a3b2;
}
.embedly-ui-quicksand ul li:first-child a.active {

}
.embedly-ui-quicksand ul li:last-child a.active {

}
.embedly-service-generator {
  overflow:hidden;
}
.embedly-service-generator li {
  padding:1px;
  border-radius:3px;
  width:70px;
  height:70px;
  float:left;
  margin:8px 16px 8px 0;
}
.embedly-service-generator li .full-service-wrapper {
  border-radius:3px;
  border:1px solid transparent;
  height:68px;
  width:68px;
  position:relative;
  cursor:pointer;

}
.embedly-service-generator li.service-selected {
  background:#d7d7d7;
  -webkit-box-shadow:0 1px 0 #d7d7d7;
  -moz-box-shadow:0 1px 0 #d7d7d7;
  -ms-box-shadow:0 1px 0 #d7d7d7;
  box-shadow:0 1px 0 #d7d7d7;
}
.embedly-service-generator li.service-selected .full-service-wrapper {
  background:url('../img/service-bubble-bg.png') repeat-x 0 0;
  border:1px solid #fff;
}
.embedly-icon-wrapper {
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
}
.embedly-icon-wrapper img {
  height:16px;
  width:16px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.embedly-icon-wrapper input {
  display:none;
}
.embedly-icon-name {
  height:16px;
  position:absolute;
  bottom:6px;
  left:50%;
  display:block;
  line-height:16px;
  cursor:pointer;
  white-space:nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size:10px;
}
.overlay-expanded {
  z-index:999 !important;
  border-color:#aaa;
}
.bottom-input-holder {
  position:relative;
}
input.embedly_bottom_submit {
  height:30px;
  background:url('../img/btn-submit-bg.png') repeat-x 0 0;
  border-radius:20px;
  border:1px solid #1b4985;
  color:#fff;
  text-shadow:0 -1px 0 #086d97;
  padding:0 20px;
  line-height:32px;
  box-shadow:inset -1px 1px 0 rgba(255,255,255,0.3), inset 1px -1px 0 rgba(255,255,255,0.3);
  position:absolute;
  bottom:45px;
  left:50px;
}
input.embedly_bottom_secondary {
  height:30px;
  border-radius:20px;
  padding:0 20px;
  line-height:32px;
  box-shadow:inset -1px 1px 0 #fff, inset 1px -1px 0 #fff;
  position:absolute;
  bottom:45px;
  right:50px;
}
/*  Testing Reversal of Dashicon */
div.dashicon-reverse {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
a.create_account_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}



/* TESTING */
.embedly-di .dashicons {
    margin:0px;
    /*line-height: 1;*/
    padding:3px;
    vertical-align:middle;
    color:#000000;
}
.embedly-di .dashicons:before {
    -webkit-font-smoothing: antialiased;
    font:400 20px/1 dashicons;

}
.embedly-di .dashicons.di-center {
    margin:0;
}
.embedly-di .dashicons.di-center:before {
    content:"\f134"
}
.embedly-di .dashicons.di-none:before {
    content:"\f138"
}
.embedly-di .dashicons.di-reverse {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

ul.align-select {
  list-style-type: none;
  margin: 2000;
  padding: 0;
}
ul.align-select li {
  display: inline;
}
span.selected-align-select {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #4DC7E6;
}


/* END TESTING  */
div.embedly-updated, div.embedly-error{margin: 5px 0 15px;padding:0 0.6em;border-radius: 3px;border-style: solid;border-width: 1px;}
div.embedly-error{background-color: #ffebe8;border-color: #cc0000;}
div.embedly-updated{background-color: #ffffe0;border-color: #e6db55;}
div.embedly-updated p{margin:0.5em 0; padding:2px; color:#666;}
div.embedly-error p{margin: 0.5em 0;padding: 2px; color:#dd0000;}
.embedly-message{margin:30px !important;line-height:18px;}
.embedly-ajax-message{display:none;}
