UL.generator LI {background-color:#EFEFEF;border:1px solid #DDDDDD;float:left;margin:4px;overflow:hidden;padding:5px;white-space:nowrap;width:140px;}
UL.generator A {color:#000000;padding:0 0 0 18px;position:relative;text-decoration:none;}
UL.generator A IMG {height:16px;left:0;position:absolute;top:0;width:16px;}
UL.actions LI {background-color:#EFEFEF;border:1px solid #DDDDDD;float:left;margin:0 4px;padding:5px;}
#embedly-logo{background:transparent url(../img/embedly_wordpress_logo.png) no-repeat scroll 0 0;}
INPUT.embedly_submit{float:left; margin:10px 5px;}
div.embedly div.embedly-clear { clear:both; height:0; }
div.embedly img { width:100%; height:100%; }
div.embedly .embedly-powered img { width:auto; height:auto; }
div.embedly img.embedly-favicon { position:relative; top:3px; padding:0 3px; width:auto; height:auto; }
