body {
  margin:0; overflow:hidden;
}
table {
  margin:0; padding:0;
  width:98%;
}
form p {
  margin:0; padding:0.5em;
}
input {
  width:330px;
  display:block;
  border:1px solid #ccc;
  padding:4px;
  font-size:12px;
  outline:none;
}
input:focus {
  -moz-box-shadow:0px 0px 5px #0095da;
  -webkit-box-shadow:0px 0px 5px #0095da;
  -o-box-shadow:0px 0px 5px #0095da;
  -ms-box-shadow:0px 0px 5px #0095da;
  box-shadow:0px 0px 5px #0095da;
}
input#embedly_url_field {
  padding-right:30px;
  width:444px;
}
label {
  margin:0;
  color:#333;
  font-size:10px;
}
fieldset {
  margin:5px 5px 0;
  position:relative;
}
fieldset legend {
  color:#0095da;
}
fieldset p {
  padding:0;
}
fieldset input {
  width:444px;
}
fieldset p.third {
  width:152px;
  margin-left:10px;
  float:left;
}
fieldset p.half {
  float:left;
  width:140px;
  margin-left:20px;
}
fieldset p.first {
  margin-left:0;
}
fieldset p.third input {
  width:146px;
}
fieldset p.half input {
  width:140px;
}
#embedly_ajax_load {
  position:absolute;
  left:175px;
  top:115px;
  display:none;
}
.embedly_button_row {
  position:absolute;
  bottom:3px;
  left:3px;
}
.embedly_button_row button {
  margin-right:5px;
}
#embedly_form_submit {
  display:none;
}
#embedly-preview-results {
  background:#fff;
  border:1px solid #dadada;
  height:240px;
  overflow:auto;
  padding:10px;
}

/* Button Styles */
button, a.button {
  outline:none;
  border: 1px solid #666;
  background: rgb(216,216,216); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,216,216,1) 5%, rgba(153,153,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(5%,rgba(216,216,216,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 5%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 5%,rgba(153,153,153,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 5%,rgba(153,153,153,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 5%,rgba(153,153,153,1) 100%); /* W3C */
  text-decoration:none;
  color: #fff;
  font-size: 14px;
  text-shadow: 0px -1px 0px #666;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}
button:hover, button.primary.disabled, button.primary.disabled:hover,
a.button:hover, a.button.primary.disabled a.button.primary.disabled:hover {
  border:1px solid #999;
  text-shadow:0px -1px 0px #999;
  background: rgb(240,240,240); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 5%, rgba(188,188,188,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(5%,rgba(234,234,234,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 5%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 5%,rgba(188,188,188,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 5%,rgba(188,188,188,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 5%,rgba(188,188,188,1) 100%); /* W3C */
  
}
button:active, button:focus,
a.button:active, a.button:focus {
  background: rgb(79,79,79); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(99,99,99,1) 5%, rgba(160,160,160,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,79,79,1)), color-stop(5%,rgba(99,99,99,1)), color-stop(100%,rgba(160,160,160,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(79,79,79,1) 0%,rgba(99,99,99,1) 5%,rgba(160,160,160,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(79,79,79,1) 0%,rgba(99,99,99,1) 5%,rgba(160,160,160,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(79,79,79,1) 0%,rgba(99,99,99,1) 5%,rgba(160,160,160,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(79,79,79,1) 0%,rgba(99,99,99,1) 5%,rgba(160,160,160,1) 100%); /* W3C */
}

button.primary, a.button.primary {
  border: 1px solid #006699;
  background: #51C9F4;
  background: -moz-linear-gradient(top, white 0%, #51c9f4 5%, #0083bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(5%, #51c9f4), color-stop(100%, #0083bf));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51C9F4', endColorstr='#0083BF',GradientType=0 );
  color: #fff;
  font-size: 14px;
  text-shadow: 0px -1px 0px #0083bf;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}
button.primary:hover, button.primary:focus,
a.button.primary:hover, a.button.primary:focus {
  background: #86DDF9;
  background: -moz-linear-gradient(top, #f7f7fc 0%, #86ddf9 10%, #0097d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7fc), color-stop(10%, #86ddf9), color-stop(100%, #0097d8));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86DDF9', endColorstr='#0097D8',GradientType=0 );
}
button.primary:active,
a.button.primary:active {
  background: #0097D8;
  background: -moz-linear-gradient(top, #0078c9 0%, #0097d8 14%, #4fb6ea 89%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0078c9), color-stop(14%, #0097d8), color-stop(89%, #4fb6ea));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0097D8', endColorstr='#4FB6EA',GradientType=0 );
}

/* Embedly Preview */
#embedly-preview {
}
#embedly-preview img {
  max-width:230px;
}
#embedly-preview .embedly-images {
  margin:0 10px 0 0; padding:0;
  float:left;
  width:230px;
}
#embedly-preview div.embedly-content {
  margin-left:240px;
}

#embedly-preview .embedly-images p {
  margin:0; padding:0;
  color:#666;
  font-style:italic;
  float:right;
  width:150px;
}
#embedly-preview .embedly-image-scroll a.button { 
  position:relative;
  top:5px;
  z-index:300;
  padding:0.125em 0.25em;
  margin-right:5px;
}

#embedly-preview .embedly-images .image {
  display:none;
  margin-bottom:5px;
}
#embedly-preview .embedly-images .image.selected {
  display:block;
}
#embedly-preview .embedly-images .image img {
  -webkit-box-shadow:0px 0px 3px #333;
  -moz-box-shadow:0px 0px 3px #333;
  -o-box-shadow:0px 0px 3px #333;
  box-shadow:0px 0px 3px #333;
  -ms-box-shadow:0px 0px 3px #333;
}

div.embedly {
  margin: 10px 10px 10px 0;
  padding: 5px;
  zoom: 1; }
  div.embedly * {
    margin: 0;
    padding: 0; }
  div.embedly:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  div.embedly p {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 1em; }
  div.embedly blockquote {
    margin: 0.5em 1.5em;
    font-weight: normal; }
  div.embedly .embedly-title {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 0.5em; }
  div.embedly .embedly-thumbnail-small {
    float: left;
    max-width: 50%;
    margin-bottom: 1em;
    margin-right: 18px; }
    div.embedly .embedly-thumbnail-small img {
      max-width: 100%; }
  div.embedly .embedly-thumbnail img {
    max-width: 100%; }
  div.embedly .embedly-video, div.embedly .embedly-audio {
    max-width: 100%; }
    div.embedly img.embedly-favicon {
      margin: 0 3px;
      position: relative;
      top: 4px;
      height: 16px;
      width: 16px; }
  div.embedly .media-attribution {
    font-size:0.9em;
    clear:left;
  }
  div.embedly span.embedly-link {
    margin: 7px 0 0;
    font-size:0.9em;
    padding: 0;
    display: block;
    text-align: right; }
    div.embedly img.embedly-powered {
      width: 69px;
      height: 16px;
      max-width: inherit; }
      
div.embedly div.embedly-clear { clear:both; height:0; }
div.embedly img { max-width:100%; max-height:100%; }
div.embedly img.thumb { width:auto; height:auto; max-width:50%; float:left; }
div.embedly .embedly-powered img { width:auto; height:auto; }
img.mceItemEmbedly {
  background-color:#dbf2fa;
  border:1px dotted #0095da;
  background-repeat:no-repeat;
  background-position:center center;
  background-image:url(tinymce/img/embed.gif);
}